body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: url("../images/robotpic.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

header {
  width: max-content;
  margin: auto;
}

header p,
h1 {
  margin: 0;
}

h1 {
  text-align: center;
  letter-spacing: 2rem;
  margin-right: -2rem;
}

main {
  width: 85%;
  margin: auto;
}

.name-holder {
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.name-display {
  font-size: 3rem;
}

.buttons-array {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.75rem;
  margin-top: 16px;
}

.buttons-array > button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.5);
}

button {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

button:hover {
  z-index: 5;
}

.about-button-section {
  margin-bottom: 5%;
}

.about-button {
  width: fit-content;
  font-size: 1.25rem;
  background-color: rgb(0, 128, 128);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  padding: 8px 16px;
  margin-top: 15px;
  text-transform: uppercase;
}

.about-button:hover {
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  margin: 8px auto;
}

.modal {
  display: none;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  margin: auto;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: grid;
  align-content: center;
  place-items: center;
  background-color: rgb(255, 255, 255);
  width: 50%;
  padding: 8px 16px;
  margin: 25vh auto;
  border-radius: 5px;
  border: none;
}

.modal-content > p {
  white-space: no-wrap;
}

strong {
  font-weight: bold;
  font-size: 1.25rem;
}

.repo-link {
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
}

.repo-link:hover {
  color: aquamarine;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  text-align: center;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}
